body {
    background-color: #f2f2f2;
}

.nav-item-link {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    cursor: pointer;

}

.nav-item-link:hover {
    background-color: #f6f6f6;
}

#errorBlock {
    display: none;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

.table tr td:first-child,
.table tr th:first-child {
    border-left: none;
}

.table tr td:last-child,
.table tr th:last-child {
    border-right: none;
}