body {
    background-color: #f2f2f2;
}

.nav-item-link {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    cursor: pointer;

}

.nav-item-link:hover {
    background-color: #f6f6f6;
}

#errorBlock {
    display: none;
}